*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary:#4f46e5;
    --secondary: #7c3aed;
    --dark:#0f172a;
    --more-darker: #0a0f1c ;
    --clear: #e2e8f0;
    --glass: rgb(255, 255, 255, 0.1);
    --back-ground-card:  rgb(255, 255, 255, 0.05);
    --navbar:rgb(15, 23, 42, 0.8);
}

 [data-theme="light"] {
     --more-darker: #bec3f3;
     --clear: black;
     --dark: #dbe8f9 ;
     --navbar: rgba(243, 237, 237, 0.933);
     --glass: rgba(0, 0, 0, 0.1);
     
   }


body{
    background-color:var(--dark) ;
    color:var(--clear)
}

.navegation{
    position: fixed;
    top:0;
    background-color:var(--navbar);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link{
    text-decoration: none;
    color: var(--clear);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width:0;
    position: absolute;
    bottom:0;
    left: 0;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    transition: width 0.5s ease; 
}

.menu-link:hover::after{
    width:100%;
}

.home{
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--more-darker);
}

.photo-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgb(79, 70, 229, 0.3);
    border-radius: 50%;
    border:4px solid var(--glass);
    animation: levitate 5s ease-in-out infinite;
}

.links{
    gap: 10px;
}

.external-link{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.external-link1{
    width: 46px;
    height: 46px;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.about-box{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px ;
    border: 1px solid var(--glass);
    backdrop-filter: blur(10px);
    background: var(--back-ground-card);
    transition: all 0.5s ease;
}

.about-box:hover{
    box-shadow: 0 10px 20px rgb(79, 70, 229, 0.2) ;
    transform: translateY(-10px) scale(1.1);
}


.about-paragraf{
    text-align: center;
}

.section-points{
    padding: 6rem 2rem;    
}

.section-projects{
    padding: 6rem 2rem;
    background-color: var(--more-darker);
}

.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width:1200px;
    margin: 0 auto;
}

.project-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projects-card{
    background: var(--back-ground-card);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--glass);
    overflow: hidden;
    transition: all 0.5s ease;
}

.projects-card:hover{
    box-shadow: 0 10px 20px rgb(79, 70, 229, 0.2) ;
    transform: translateY(-10px) scale(1.1);
}

.box-text{
    padding: 1.5rem;
}

.info-projects{
    margin-bottom: 5px;
}

.form-contact{
    max-width: 600px;
    margin: 0 auto;
    background: var(--back-ground-card);
    backdrop-filter: blur(5px);
    padding:2rem;
    border:1px solid var(--glass);
    border-radius: 16px;
    margin-bottom: 30px;
}

.gruop-form{
    margin-bottom: 1.5rem;
}

.field-form{
    width: 100%;
    padding: 1rem;
    background: var(--back-ground-card);
    border-radius: 8px;
    border: 1px solid var(--glass);
}   

.field-form:focus{
    border-color: var(--secondary);
    box-shadow: 0 0 10px rgb(79, 70, 229, 0.3);
}

.button-form{
    background: linear-gradient(45deg, var(--primary),var(--secondary));
    padding: 1rem 2rem ;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-style: bold;
    width: 100%;
    transition: all 0.5 ease;
    color: #dbe8f9;
    font-size: 1rem;
}

.button-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgb(79, 70, 229, 0.4);
    
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

footer{
    background-color: var(--more-darker);
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.email-edit{
    font-size: 2rem;
    margin-bottom: 15px;
}

.theme{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
